{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'main.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">
        
        <div class="main-head">
            <a href="#"> <連絡先 </a>
            <a href="#">編集</a>
        </div>

        <div class="circle-img">
            <div class="circle-center"></div>
        </div>

        <div class="text-items">
            <div class="text-name">東條英機</div>
            <div class="text-kana">トウジョウヒデキ</div>
        </div>

        <div class="icon-container">
            <div class="icon-item">
                <i class="far fa-comment-dots fa-5"></i>
                <p>メッセージ</p>
            </div>
            <div class="icon-item">
                <i class="far fa-comment-dots fa-5"></i>
                <p>メッセージ</p>
            </div>
            <div class="icon-item">
                <i class="far fa-comment-dots fa-5"></i>
                <p>メッセージ</p>
            </div>
            <div class="icon-item">
                <i class="far fa-comment-dots fa-5"></i>
                <p>メッセージ</p>
            </div>
        </div>

        <div class="spacer"></div>
        
        <div class="number-container">
            <p>携帯電話</p>
            <p>123 4567 8901</p>
        </div>

        <div class="spacer"></div>
        
        <div class="email-container">
            <p>メールアドレス</p>
            <p>abc@defghijklmn</p>
        </div>

        <div class="spacer"></div>

        <div class="memo-container">
            <p>メモ</p>
            <div class="memo-contents">
                <p>こんにちは</p>
                <p>こんばんは</p>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="sub-function">
            <p class="sub-message">メッセージを送信</p>
            <div class="border-slice"></div>
            <p class="sub-address">連絡先を送信</p>
            <div class="border-slice"></div>
            <p class="sub-add">よく使う項目に追加</p>
        </div>

        <div class="spacer"></div>

        <div class="emergency-call">
            <p>緊急連絡先に追加</p>
        </div>

        <div class="spacer"></div>

        <div class="myinfo-share">
            <p>自分の位置情報を共有</p>
        </div>

        <div class="spacer"></div>

        <div class="call-rejection">
            <p>この発信者を着信拒否</p>
        </div>

        <div class="spacer"></div>
    </div>
</body>
</html>