{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'main.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>個別ページ</title>
</head>
<body>
    <div class="main">
        
        <div class="main-head">
            <a href="{% url 'index' %}"> <連絡先 </a>
            <a href="{% url 'update' post.id %}">編集</a>
        </div>

        <div class="circle-img">
            <div class="circle-center"></div>
        </div>

        <div class="text-items">
            <div class="text-name">{{ post.first_name }} {{ post.last_name }}</div>
            <div class="text-kana">{{ post.first_name_kana }} {{ post.last_name_kana }}</div>
        </div>

        <div class="icon-container">
            <div class="icon-item">
                <i class="far fa-comment-dots fa-5"></i><br>
                <p>メッセージ</p>
            </div>
            <div class="icon-item">
                <i class="far fa-envelope-open fa-5"></i>
                <p>メール</p>
            </div>
            <div class="icon-item">
                <i class="fas fa-phone-volume fa-5"></i>
                <p>電話</p>
            </div>
            <div class="icon-item">
                <i class="fas fa-video fa-5"></i>
                <p>ビデオ</p>
            </div>
        </div>

        <div class="spacer"></div>
        
        <div class="number-container">
            <p>携帯電話</p>
            <p>{{ post.call_num }}</p>
        </div>

        <div class="spacer"></div>
        
        <div class="email-container">
            <p>メールアドレス</p>
            <p>{{ post.address }}</p>
        </div>

        <div class="spacer"></div>

        <div class="memo-container">
            <p>メモ</p>
            <div class="memo-contents">
            <p>{{ post.memo }}</p>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="sub-function">
            <p class="sub-message">メッセージを送信</p>
            <div class="border-slice"></div>
            <p class="sub-address">連絡先を送信</p>
            <div class="border-slice"></div>
            <p class="sub-add">よく使う項目に追加</p>
        </div>

        <div class="spacer"></div>

        <div class="emergency-call">
            <p>緊急連絡先に追加</p>
        </div>

        <div class="spacer"></div>

        <div class="myinfo-share">
            <p>自分の位置情報を共有</p>
        </div>

        <div class="spacer"></div>

        <div class="call-rejection">
            <p>この発信者を着信拒否</p>
        </div>

        <div class="spacer"></div>

        <div class="delete_function">
            <a href="{% url 'delete' post.id %}">連絡先を削除</a>
        </div>

        <div class="spacer"></div>
    </div>
</body>
</html>